:root {
    --primary: #271344;
    --secondary: #ff4880;
    --blue: #1ab9ff;
    --yellow: #ffc000;
    --green: #abcd52;
    --coral: #FF6666;
    --dark-purple: #21103b;
}

html{
    font-family: 'Roboto', sans-serif;
}


.primary-nav{
    background-color: var(--primary);
    
    
}

.contact-details{
    list-style-type: none;
}

.contact-details li{
  margin-right: 22px;
  
}

.contact-details li a{

     text-decoration: none; 
    color: #fff;
}

.contact-details li a i{
    margin: 0 8px;
    color: var(--yellow);
    font-size: 18px;
    font-weight: bold;
}

.contact-details li a:hover{
    color: var(--secondary);
    transition:ease-in-out;
}

.social-links{
    list-style-type: none;
}

.social-links{
   list-style-type: none;
}

.social-links li {
    border-radius: 50%;
    margin-left: 14px;
    
}

.social_lnks li:hover a{
    transform: rotateY('180deg');
}

.social-links li a {
    color: #fff;
    display: inline-block;
    padding: 6px 10px;


}



.social-links li:first-child{
    background-color: var(--blue);
}

.social-links li:nth-child(2){
    background-color: var(--yellow);
}

.social-links li:nth-child(3){
    background-color: var(--secondary);
}


.social-links li:nth-child(4){
    background-color: var(--green);
}




.navbar.sticky {
    position: fixed;
    top: 0;
    background-color: #fff;
    width: 100%;
    box-shadow: 0 3px 6px rgba(0,0,0,5%);
}

.navbar-nav .nav-item {
    padding-left: 2.5rem;
}

 .navbar-nav .nav-item .nav-link{
    font-size: 16px;
    /* padding: 0 32px; */
    position: relative;
    line-height: 32px;
    display: block;
    
} 


.home .nav-link{
    background-color: var(--secondary);
    border-radius: 4px;
   


} 




.slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
    animation-duration: 0.3s;
    animation-fill-mode: both;
}
@keyframes slideIn {
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }
    100% {
        transform: translateY(0rem);
        opacity: 1;
    }
}


 /* .dropdown:hover .dropdown-menu{
    display: block;
    margin-top: 12px;
}

 .dropdown-menu::after{
    content: '';
    position: absolute;
top: 15px;
left: 15px;
right: 15px;
bottom: 15px;
    border: 2px dashed rgba(255, 72, 128, 3);
    border-radius: 8px;
    z-index: -1;
}    */


/* .navbar-nav .nav-item {
    padding-left: 2.5rem;
} */



.dropdown:hover .dropdown-menu{
     display: block;
     
}
 .dropdown-menu {
    padding: 28px 20px;
    border: 0;
    box-shadow: 0 3px 6px rgba(0,0,0,.15);
}

.dropdown-menu::after {
    content: '';
    position: absolute;
    top: 15px;
    bottom: 15px;
    left: 15px;
    right: 15px;
    border: 2px dashed rgba(255,72,128,.3);
     border-radius: 8px; 
    z-index: -1;
} 

    


.dropdown-menu li{
    padding: 0px 12px;
    
}




.dropdown .nav-link {
    border-radius: 8px;
    transition: .3s all ease-in-out;
    color: black;
    padding: 4px 0;
    display: inline-block;
}

.dropdown .nav-link:hover {
    background-color: var(--secondary);
    border-radius: 8px;
    color: white;
}

/* 
 .navbar-nav .nav-item .nav-link:hover{
    background-color: var(--secondary);
    border-radius: 4px;
}  */



.search-btn {
    padding: 2px;
    border: #ff4880 dashed 2px;
    border-radius: 50%;
     margin-left: 3.5rem; 

}

.search-btn .search-icon {
    background-color: var(--secondary);
    color: white;
    display: inline-block;
    padding: 9px 13px;
    border-radius: 50%;
   
}
 


  
 
/*   
  .search-icon::before {
    background-color: transparent;
    width: 125%;
    height: 125%;
    color: #fff;
    content: '';
    display: inline-blocks;
    border: 2px dashed var(--secondary);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
  }
   */




.animation .bird{
    margin: 12px 0 0 16px;
}

.bird{
    animation-name: up;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
}

@keyframes up {
    0%{
        transform: translateY(0%);
    }
    50%{
        transform: translateY(50%);
    }
    100%{
        transform: translateY(0%);
    }
}

.clouds{
    animation-name: down;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
}
@keyframes down {
    0%{
        transform: translateX(0%);
    }
    50%{
        transform: translateX(-10%);
    }
    100%{
        transform: translateX(0%);
    }
}

.hero-wrapper{
    display: flex;
    flex-direction: column;
    background-image: url(../imgs/bg-home-top-section.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
   
}

.hero-wrapper .hero-content h3{
    font-family: 'Schoolbell' , cursive;
    color: var(--secondary);
    font-weight: 600;
    letter-spacing: 3px;
    margin-bottom: 9px;
}

.hero-wrapper .hero-content h2{
    font-family: 'fredoka' , sans-serif;
    color: var(--primary);
    font-weight: 600;
    text-transform: capitalize;
    font-size: 50px;
    margin: 12px 0;
}

.hero-wrapper .hero-content p{
    text-transform: capitalize;
    font-family: 'fredoka' , sans-serif;
    font-size: 15px;
    margin: 14px 0;
    color: #777;
}

.hero-wrapper .hero-content .cover{
    background-color: var(--secondary);
    color: white;
    display: inline-block;
    padding: 13px 24px;
    border-radius: 12px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    text-transform: capitalize;
    transition: all .2s ease-in-out;
}

.hero-wrapper .hero-content .cover:hover{
    background-color: var(--primary);
}







.mid-wrapper{
    text-align: center;
}

.mid-content h5{
    font-family: 'Schoolbell', cursive;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 3px;
   color: var(--secondary);
   margin-bottom: 10px;
}

.mid-content h2{
    font-family: 'Fredoka', sans-serif;
    font-size: 32px;
    font-weight: 900;
    color: var(--primary);
    margin: 18px 0;
}

.mid-content p{
    font-family: 'Fredoka', sans-serif;
    margin: 15px 0;
}

.bee-img {
    margin: 0 auto;
    display: block;
    margin-bottom: 68px;
    animation-name: alternate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 0s;
}

@keyframes alternate {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(50%);
    }
}


.top-heading span{
    text-transform: capitalize;
    color: var(--secondary);
    font-size: 24px;
    font-weight: bold;
    font-family: 'Fredoka', sans-serif;
   
}

.top-heading h6{
    text-transform: capitalize;
    font-size: 24px;
    font-weight: bold;
 
    color: var(--primary);
    margin-bottom: 12px;
    font-family: 'Fredoka', sans-serif;
}

.top-heading p{
    font-size: 17px;
    color: #777;
    margin: 12px 0;
    font-family: 'Fredoka', sans-serif;
}

.enroll-n{
    text-decoration: none;
    color: #fff;
    background-color: var(--secondary);
    display: inline-block;
    padding: 12px 22px;
    border-radius: 10px;
    text-transform: capitalize;
    font-weight: bold;
    transition: all .1s ease-in-out;
}

.enroll-n:hover{
    box-shadow: 0 6px var(--secondary);
}


.card {
    transition: all .4s ease-in-out;
} 

 .card:hover {
    transform: translateY(-20px);
}

.card-img {
    padding: 8px;
    border-radius: 50%;
    border: #fff dashed 2px;
    width: 176px;
    height: 176px;
    margin: 0 auto;
    animation: loading 3s linear infinite;
}

.card-img .card-img-top {
    width: 100%;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
}

.card-body {
    font-family: 'Fredoka', sans-serif;
}

.card-text {
    padding: 0 0 2rem 0;
}


.about-section {
    background-color: #fcf9f4;
}

.about-img{
    width: 320px;
    height: 390px;
}

.about-img {
    margin-bottom: 68px;
    animation-name: alternate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 0s;
}

@keyframes alternate {
    0% {
        transform: translateX(-10%);
    }

    100% {
        transform: translateX(5%);
    }
}

.about-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-content h2{
font-family: 'Fredoka', sans-serif;
color: var(--primary);
font-size: 40px;
font-weight: 600;
text-transform: capitalize;
margin: 15px 0;
}

.about-content p{
    font-family: 'Fredoka', sans-serif;
    margin: 15px 0;
    color: #777;
    font-size: 17px;
}

.learn-more {
    background-color: var(--secondary);
    color: white;
    display: inline-block;
    padding: 13px 26px;
    border-radius: 10px;
    font-weight: bold;
    text-decoration: none;
    text-transform: capitalize;
    transition: .4s all ease-in-out;
}

.learn-more:hover {
    background-color: var(--primary);
}

.kids{
    text-align: center;
}



.kids-content h5{
    font-family: 'Schoolbell', cursive;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 3px;
   color: var(--secondary);
   margin-bottom: 10px;
}

.kids-content h2{
    font-family: 'Fredoka', sans-serif;
    font-size: 38px;
    font-weight: 900;
    color: var(--primary);
    margin: 18px 0;
}

.kids-content p{
    font-family: 'Fredoka', sans-serif;
    margin: 15px 0;
    letter-spacing: 2px;
}

.kids-content img {
    margin: 0 auto;
    display: block;
    margin-bottom: 68px;
    animation-name: alternate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 0s;
}

@keyframes alternate {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(50%);
    }
}


.activity-wrapper{
    display: flex;
    flex-direction: column;
}


.activity-content h3{
    font-family: 'Schoolbell' , cursive;
    font-size: 24px;
    color: var(--primary);
    font-weight: bold;
    letter-spacing: 2px;
    
}

.activity-content p{
    font-family:  'Fredoka', sans-serif;
    text-align: left;
    color: #777;
}

.activity-badge{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: dashed 2px var(--green);
    padding: 3px;
}

.program .pro-bg {
    background: url(../imgs/bg-video.webp) no-repeat bottom right;
    background-size: cover;
    padding-bottom: 0 !important;
    width: 750px;
  }
  .program .pro-bg a{
   margin-top:50%;
   padding: 0%;
   transition: all .5s ease;
   width: fit-content;
   height: fit-content;
  }
  .program .pro-bg a:hover{
   margin-top:48%;
  }
  
  .program .content {
    background-color: var(--primary);
    width: 50%;
    height: fit-content;
    color: #fff;
    padding-right: 30px;
    padding-bottom: 30px;
  
  }
  
  .program .content .container .top {
    width: 40%;
    justify-content: space-between;
    padding-top: 20px;
  }
  
  .program .content .container .top h6 {
    color: var(--secondary);
    font-weight: bold;
    letter-spacing: 3px;
    font-family: var(--italic-font);
    margin-right: 10px;
  }
  
  .program .content h1 {
    font-size: 50px;
    font-weight: bold;
  }
  
  
  .program .content p {
    font-size: 20px;
    font-weight: lighter;
  }
  
  
  
  
  
  .accordion-header {
   border-top-right-radius: 20px !important; 
    border-top-left-radius: 20px !important; 
    border-bottom-left-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
  }
  
  .accordion-button{
  padding: 0%;
  overflow: hidden;
  padding-right: 12px;
  }

  .accordion-button>ul>li{
    list-style: none;
  }
  .accordion-button>ul>li>h6{
   font-weight: bolder;
   font-size: 20px
  }
  .accordion-button>ul>li:first-child{
    background-color:#ff2a6a13;
    padding: 16px;
  }
  .accordion-button-2>ul>li:first-child{
    background-color:#ffd1472c;
  }
  .accordion-button-3>ul>li:first-child{
    background-color:#bcdf6424;
  }
  .accordion-button-4>ul>li:first-child{
    background-color:#1abaff22;
  }
  .accordion-button>ul>li img{
    width: 30px;
  }
  .accordion-button>ul>li:nth-child(2){
   margin-top: 22px;
   margin-left: 24px;
  }
  
  
  
  .accordion-item:first-child {
    border-top-right-radius: 20px !important; 
     border-top-left-radius: 20px !important; 
  }
  .accordion-item:last-child {
    border-bottom-left-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
  }
  
  
  .accordion-button:focus {
    background-color:transparent;
  }
  
  .accordion-button:focus {
    z-index: 3;
    border-color:transparent !important;
    border: transparent !important;
    outline: 0;
    box-shadow: var(--bs-accordion-btn-focus-box-shadow);
  }
  
  .accordion-button:not(.collapsed) { 
    font-weight: bold;
    background-color: transparent;
  box-shadow: inset 0 0 0 0 !important  ;
  }
  
  
  .accordion-item:first-of-type .accordion-button {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }
  
  .accordion-item:last-of-type .accordion-button.collapsed {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  
  
  .accordion-button:not(.collapsed)::after {
    background-image: url(../imgs/p-cross.png);
    background-size: 30px;
    width: 30px;
    height: 30px;
  }
  .accordion-button::after {
    background-image: url(../imgs/p-plus.png);
    background-size: 30px;
    width: 30px;
    height: 30px;
  }
  .accordion-button-2:not(.collapsed)::after {
    background-image: url(../imgs/y-cross.png);
  }
  .accordion-button-2::after {
    background-image: url(../imgs/y-plus.png);
  }
  .accordion-button-3:not(.collapsed)::after {
    background-image: url(../imgs/g-cross.png);
  }
  .accordion-button-3::after {
    background-image: url(../imgs/g-plus.png);
  }
  .accordion-button-4:not(.collapsed)::after {
    background-image: url(../imgs/b-cross.png);
  }
  .accordion-button-4::after {
    background-image: url(../imgs/b-plus.png);
  }
  
  
  .about-class{
    text-align: center;
  }
  
  .about-class h3{
    font-family: 'Schoolbell', cursive;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 3px;
   color: var(--secondary);
   margin-bottom: 10px;
}

.about-class h2{
    font-family: 'Fredoka', sans-serif;
    text-transform: capitalize;
    font-size: 32px;
    font-weight: 900;
    color: var(--primary);
    margin: 18px 0;
}

.about-class p{
    font-family: 'Fredoka', sans-serif;
    margin: 15px 0;
}

.about-class img{
    
        margin: 0 auto;
        display: block;
        margin-bottom: 68px;
        animation-name: alternate;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-delay: 0s;
    }
    
    @keyframes alternate {
        0% {
            transform: translateX(-50%);
        }
    
        100% {
            transform: translateX(50%);
        }
    }
    



.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


    .swiper-button-next{
    font-size: 40px;
    right: 0;
 }
 .swiper-button-prev{
    font-size: 40px;
    left: 0;
 }  

 .user-avatar {
    list-style-type: none;
    display: flex;
    align-items: center;
  }

  .user-avatar li {
    margin-right: 1rem;
  }

  .user-avatar li a{
    color: #1ab9ff;
    font-size: 16px;
  }

  .item-date {
    position: absolute;
    top: 30px;
    left: 30px;
    padding: 6px 20px;
    border: 2px solid #dfac11;
    border-radius: 15px;
    background-color: #ffc000;
    display: inline-block;
    color: #fff;
    font-size: 15px;
  }

  .core_values-content{
    text-align: center;
  }
  
.core_values-content h3{
    font-family: 'Schoolbell', cursive;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 3px;
   color: var(--secondary);
   margin-bottom: 10px;
   
}

.core_values-content h2{
    font-family: 'Fredoka', sans-serif;
    text-transform: capitalize;
    font-size: 32px;
    font-weight: 900;
    color: var(--primary);
    margin: 18px 0;
}


.core_values-content p{
    font-family: 'Fredoka', sans-serif;
    margin: 15px 0;
}

.core_values-content img{
    margin: 0 auto;
    display: block;
    margin-bottom: 68px;
    animation-name: alternate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 0s;
}

@keyframes alternate {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(50%);
    }
}





  .testimonial_section {
    background-color: #fcf9f4;
    margin-top: 12px;
  }

  .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap,4px);
    background: var(--yellow);
    width: 14px;
    height: 14px;
    border: 2px solid var(--primary);
  }

  .testi_slide {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
  }
  
  
  
  .rating-box{
    width: 48%;
    background-color: #fff;
    padding: 35px 35px 28px;
    border-radius: 15px 100px 15px 15px;
    height: fit-content;
    position: relative;
    overflow: hidden;
    transition: all .5s ease;
    margin-bottom: 50px;
  }
  

  .rating-box::before{
  position: absolute;
  display: block;
  content: '';
  width: 85px;
  height: 85px;
  top: -10px;
  right: -10px;
  background: url(../imgs/turn-paper.png)no-repeat center;
  background-size: 85px;
  z-index: 111;
  }
  .rating-box-top{
  display: flex;
  margin-bottom: 20px;
  }
  .rating-box-top img{
  width: 60px;
  border-radius: 50%;
  border: 2px solid var(--secondary);
    }
  .rating-box-top h3{
  font-weight: bold;
  font-size: 18px;
  margin-left: 12px;
  color: var(--primary);
  position: relative;
  }
  .rating-box-top h3::before{
  position: absolute;
  background: url(../imgs/right-quotes-symbol.png) no-repeat center;
  display: block;
  content: '';
  width: 45px;
  height: 45px;
  top: -20px;
  right: -45px;
  background-size: 45px;
  }
  .rating-box-top h3::after{
  position: absolute;
  background: url(../imgs/five=star.png) no-repeat center;
  display: block;
  content: '';
  width: 86px;
  height: 86px;
  bottom: -30px;
  left: 0;
  background-size: 86px;
  }
  .rating-box p{
  color: rgb(107, 107, 107);
  font-weight: lighter;
  text-align: start;
  }

  .grass-ratings{
    position: relative;
    background-color: #ffa8c211;
  }
  .grass-ratings>.grass-top{
    margin-top: 0%;
    position: absolute;
    top: -48px;
    left: 2%;
    background-color: #ffa8c211;
  }
  .grass-ratings>.grass-bg{
  background: url(../imgs/bg_rating.webp)no-repeat center;
  background-size: 175%;
  width: 100%;
  height: fit-content;
  padding: 60px 0;
  background-color: #abcd52;
  }
  
  .grass-ratings>.grass-top>img{
    width: 94vw;
  }
  .grass-ratings>.grass-bg>.container>ul>li{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin: 8px;
  }
  
  .grass-ratings>.grass-bg>.container>ul>li::before{
  display: block;
  content: '';
  position: absolute;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 3px dashed white;
  transition: all .2s ease inherit;
  color: white;
  }
  .grass-ratings>.grass-bg .container ul li:hover::before{
    animation: rotate 12s infinite linear;
  }
  .grass-ratings>.grass-bg>.container>ul>li>h1,h6{
    font-weight: bolder;
    margin-top: 8px !important;
  }












.teachers{
    text-align: center;
}

.about-teachers h5{
    font-family: 'Schoolbell', cursive;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 3px;
   color: var(--secondary);
   margin-bottom: 10px;
}

.about-teachers h2{
    font-family: 'Fredoka', sans-serif;
    text-transform: capitalize;
    font-size: 32px;
    font-weight: 900;
    color: var(--primary);
    margin: 18px 0;
}

.about-teachers p{
    font-family: 'Fredoka', sans-serif;
    margin: 15px 0;
}

.about-teachers img{
    margin: 0 auto;
    display: block;
    margin-bottom: 68px;
    animation-name: alternate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 0s;
}

@keyframes alternate {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(50%);
    }
}


.teacher-links{
    list-style-type: none;
}

.teacher-links li{
    border-radius: 50%;
    margin-left: 24px;
}
.teacher-links li a{
    color: #fff;
    display: inline-block;
    padding: 6px 10px;


}



.teacher-links li:first-child{
    background-color: var(--blue);
}

.teacher-links li:nth-child(2){
    background-color: var(--yellow);
}

.teacher-links li:nth-child(3){
    background-color: var(--secondary);
}


.teacher-links li:nth-child(4){
    background-color: var(--green);
}


.card34{
    background-color:#fcf9f4;
    border-radius: 20px;
    padding: 18px;
    text-align: center;
    overflow: hidden;
    border: none;
}

.img{
    width: auto;
}

.card34 img{
    border-radius: 0%;
    border: none;
    box-shadow: none;
    height: auto;
    width: 100%;
    background-color: #fff;
}

.card34 h3{
    margin-top: 14px;
    font-size: 26px;
    font-weight: bold;
    text-transform: capitalize;

}

.card34 p{
    margin-bottom: 22px;
    text-transform: capitalize;
}

.card34{
    transition: all .4s ease-in-out;
}

.card34:hover{
    transform: translateY(-20px);
}



.event_section {
    background-image: url(../imgs/bg-events-page-title1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: -1;
  }

  .overlay {
    height: 100%;
    width: 100%;
    background-color: rgb(39, 19, 68,.6);
    position: absolute;
    z-index: -1;
  }

  .event_wrapper {
    padding: 6rem 0;
  }

  
  .event_date{
    margin: auto;
    background-color: var(--yellow);
    padding: 13px 26px;
    font-size: 20px;
    font-family: 'Fredoka', sans-serif;
    text-align: center;
    border-radius: 30px;
    color: var(--primary);
    border: 2px white solid;
    width: fit-content;
    margin-bottom: 28px;

  }
  .event_title h2{
    color: white;
    font-weight: bold;
    font-family: 'Fredoka', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 45px;

  }

  .event_time {
    display: flex;
    justify-content: center;
    margin-bottom: 53px;
  }

  .event_time div{
    flex-basis: 136px;
    border: var(--coral) solid 2px;
    border-radius: 20px;
    margin: 0 15px;
  }

  .event_time div:nth-child(2){
    border: var(--yellow) solid 2px;
  }

  .event_time div:nth-child(3){
    border: var(--green) solid 2px;
  }

  .event_time div:nth-child(4){
    border: var(--blue) solid 2px;
  }

  .event_time div p{
    font-size: 50px;
    color: white;
    font-family: 'Fredoka', sans-serif;
    padding: 8px 0;
    background-color: rgba(255,72,128,.25);
    text-align: center;
    border-bottom: var(--coral) 2px solid;
    font-weight: bold;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;

  }

  .event_time div:nth-child(2) p{
    background-color: rgba(255,192,0,.25);
    border-bottom: var(--yellow) 2px solid;

  }

  .event_time div:nth-child(3) p{
    background-color: rgba(171,205,82,.25);
    border-bottom: var(--green) 2px solid;

  }

  .event_time div:nth-child(4) p{
    background-color: rgba(26,185,255,.25);
    border-bottom: var(--blue) 2px solid;

  }

  .event_time div span{
    color: white;
    font-family: 'Fredoka', sans-serif;
    text-align: center;
    display: block;
    font-size: 24px;
    font-weight: 500;
    padding: 8px 0;
    

  }

  .more_events {
    display: flex;
    justify-content: center;
  }

  .more_events a {
    background-color: var(--secondary);
    color: white;    
    font-family: 'Fredoka', sans-serif;
    padding: 0 26px;
    line-height: 48px;
    text-transform: capitalize;
    border-radius: 10px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;

  }

.vlog{
    text-align: center;
    
    color: #fff;
}

.vlog h5{
    font-family: 'Schoolbell', cursive;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 3px;
   color: var(--secondary);
   margin-bottom: 10px;
}

.vlog h2{
    font-family: 'Fredoka', sans-serif;
    text-transform: capitalize;
    font-size: 32px;
    font-weight: 900;
    color: var(--primary);
    margin: 18px 0;
    
}

.vlog p{
    font-family: 'Fredoka', sans-serif;
    margin: 18px 0;

    font-size: 16px;
    
}



.vlog img {
    margin: 0 auto;
    display: block;
    margin-bottom: 68px;
    animation-name: alternate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 0s;
}

@keyframes alternate {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(50%);
    }
}












.cover{
    background-color: #fcf9f4;
    position: relative;
}

.cover-head{
    text-align: center;
    text-transform: capitalize;
    font-size: 40px;
    font-weight: bold;
}

.enrollment2{
    background-color: var(--green);
}

.top-heading3 h6{
    text-transform: capitalize;
    color: #fff;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 12px;

}

.top-heading3 p{
    font-size: 19px;
    color: #fff;
    margin: 12px 0;

}

.enroll-c{
    text-decoration: none;
    text-transform: capitalize;
    background-color: #fff;
    display: inline-block;
    padding: 12px 12px;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    transition: all .1s ease-in-out;
}

.enroll-c:hover{
   background-color: var(--secondary);
   
}



.kndri{
    background-color:var(--primary);
}


.last-social li:hover a{
    transform: translateY('180dg');
}

.lstprt .last-social li{
    border-radius: 50%;
    margin: 14px;
}
.lstprt .last-social li a i{
    color: #fff;
    display: inline-block;
    padding: 6px 10px;
   

}

.last-social li:first-child{
    background-color: var(--blue);
}
.last-social li:nth-child(2){
    background-color: var(--yellow);
}
.last-social li:nth-child(3){
    background-color: var(--secondary);
}
.last-social li:nth-child(4){
    background-color: var(--green);
}


.lstprt ul img{
    width: 80%;
    height: 45px;
    display: block;
}



.kindori-inner ul{
    list-style: none;
}

.kindori-inner ul li{
    font-size: 16px;
    padding: 10px 0;
    
}

.kindori-inner ul li a{
    text-decoration: none;
    color: #fff;

    
}

.kindori-inner ul li a i{
    color: var(--yellow);
}

.kindori-inner ul h4{
    color: #fff;
    font-weight: bold;
    font-size: 24px;
}

.activity ul a{
    font-size: 15px;
    display: block;
    padding: 10px 0;
}

.mail form input{
    color: var(--black);
    text-transform: capitalize;
    font-size: 15px;
    display: inline-block;
    border-radius: 10px;
    background-color: #fff;
    padding: 0 22px;
    line-height: 48px;
    width: 100%;
    text-align: start;
    margin-bottom: 10px;
}


.mail button{
    width: 100%;
    padding: 12px;
    display: block;
    border-radius: 8px;
    color: white;

    outline: none;
    border: none;
    background-color: var(--secondary);
    font-weight: bold;
    transition: all .5s ease;
}

.mail button:hover{
    background-color: #fff;
    color: black;
}



.last-footer{
    background-color: var(--dark-purple);
}

.footer-inner span{
    color: var(--yellow);
}

.footer-inner{
    color: #fff;
    margin-top: 9px;
}

.footer-inner span:hover{
    color:#61ce70;
}


/* // `xs` returns only a ruleset and no media query */
/* // ... { ... } */

/* // `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
     .contact-details {
        display: none !important;
      }

      .search-btn{
        display: none;
      }



      .hero-wrapper{
        width: 556px;
      }

      .hero-content h3{
        font-size: 1.3rem;
      }
      .hero-content h2{
        display: none;
      }
     .hero-content p{

     display:  none;
      
     }

     .testimonial_section{
        display: none;
     }

     .top-heading{
        display: none;
     }

   .img-2 img{
    display: none;
   }

   .plane img{
    display: none;
   }

   .kids-content h5{
    font-size: 12px;
   }

   .kids-content h2{
    font-size: 16px;
   }

   .kids-content p{
    font-size: 9px;
   }
   
   .activity-content{
    display: none;
   }

   .activity-badge{
    display: none;
   }

   .pro-bg{
    display: none !important;
   }

   .program .content{
    width: 100%;
   }

   .imgs-sec{
    font-size: 45px;
    margin: 8px;
   }

   .kindori-inner img{
    font-size: 18px !important;
   }

     .lstprt img{
        width: 78% !important;
     }
    
     .lstprt li{
        font-size: 14px !important;
     }
     
    .card{
        margin: 8px;
    }
   
    .event_time{
        flex-wrap: wrap;
        
    }

       .event_time div{
        margin-bottom: 53px;
       }
   

       .event_title h2{
        font-size: 20px;
       }

       .event_date {
        font-size: .6rem;
       }

       .enroll a{
        display: none;
       }
.footer-inner p{
    font-size: 8px;
}

.footer-end{
    font-size: 6px;
} 
       
       
  }

 
 

/* // `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 

 }

/* // `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 

}

/* // `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 

 }

/* // `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) { 

 }




 /* // X-Small devices (portrait phones, less than 576px) */
/* // No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 

 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

 }

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

 }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 

 }