:root {
    --primary: #271344;
    --secondary: #ff4880;
    --blue: #1ab9ff;
    --yellow: #ffc000;
    --green: #abcd52;
    --coral: #FF6666;
}

.primary-nav{
    background-color: var(--primary);
}

.contact-details{
    list-style-type: none;
}

.contact-details li{
    margin-right: 34px;
}

.contact-details li a{

    text-decoration: none;
    color: #fff;
}

.contact-details li a i{
    margin: 0 8px;
    color: var(--yellow);
    font-size: 18px;
    font-weight: bold;
}

.social-links{
    list-style-type: none;
}

.social-links{
   list-style-type: none;
}

.social-links li {
    border-radius: 50%;
    margin-left: 16px;
    
}

.social_lnks li:hover a{
    transform: rotateY('180deg');
}

.social-links li a{
    color: #fff;
    display: inline-block;
    padding: 6px 10px;


}



.social-links li:first-child{
    background-color: var(--blue);
}

.social-links li:nth-child(2){
    background-color: var(--yellow);
}

.social-links li:nth-child(3){
    background-color: var(--secondary);
}


.social-links li:nth-child(4){
    background-color: var(--green);
}




.dropdown:hover .dropdown-menu{
    display: block;
    margin-top: 12px;
}

.dropdown-menu::after{
    content: '';
    position: absolute;
    top: 15px;
    bottom: 15px;
    left: 15px;
    right: 15px;
    border: 2px dashed rgba(255, 72, 128, 3);
    border-radius: 8px;
    z-index: -1;
}

.dropdown-menu li{
    padding: 8px 12px;
    
}


.navbar.sticky {
    position: fixed;
    top: 0;
    background-color: #fff;
    width: 100%;
    box-shadow: 0 3px 6px rgba(0,0,0,5%);
}

.navbar-nav .nav-item .nav-link{
    font-size: 16px;
    padding: 0 32px;
    position: relative;
    line-height: 32px;
    display: block;
    
}

.home .nav-link{
    background-color: var(--secondary);
    border-radius: 4px;


}


.navbar-nav .nav-item .nav-link:hover{
    background-color: var(--secondary);
    border-radius: 4px;
}


.navbar img{
    width: 100%;
    height: 45px;
}

.search-btn {
    
    padding: 4px;
    border-radius: 50%;
    border: #ff4880 dashed 2px;
}

.search-btn .search-icon{
    background-color: var(--secondary);
    color: #fff;
    display: inline-block;
    padding: 14px 16px;
    border-radius: 50%;
}

.animation .bird{
    margin: 12px 0 0 16px;
}

.bird{
    animation-name: up;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
}

@keyframes up {
    0%{
        transform: translateY(0%);
    }
    50%{
        transform: translateY(50%);
    }
    100%{
        transform: translateY(0%);
    }
}

.clouds{
    animation-name: down;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
}
@keyframes down {
    0%{
        transform: translateX(0%);
    }
    50%{
        transform: translateX(-10%);
    }
    100%{
        transform: translateX(0%);
    }
}

.hero-wrapper{
    display: flex;
    flex-direction: column;
    background-image: url(../imgs/bg-home-top-section.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 756px;
}

.hero-wrapper .hero-content h3{
    font-family: 'Schoolbell' , cursive;
    color: var(--secondary);
    font-weight: 600;
    letter-spacing: 3px;
    margin-bottom: 9px;
}

.hero-wrapper .hero-content h2{
    font-family: 'fredoka' , sans-serif;
    color: var(--primary);
    font-weight: 600;
    text-transform: capitalize;
    font-size: 50px;
    margin: 12px 0;
}

.hero-wrapper .hero-content p{
    text-transform: capitalize;
    font-family: 'fredoka' , sans-serif;
    font-size: 15px;
    margin: 14px 0;
    color: #777;
}

.hero-wrapper .hero-content .cover{
    background-color: var(--secondary);
    color: white;
    display: inline-block;
    padding: 13px 24px;
    border-radius: 12px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    text-transform: capitalize;
    transition: all .2s ease-in-out;
}

.hero-wrapper .hero-content .cover:hover{
    background-color: var(--primary);
}







.mid-wrapper{
    text-align: center;
}

.mid-content h5{
    font-family: 'Schoolbell', cursive;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 3px;
   color: var(--secondary);
   margin-bottom: 10px;
}

.mid-content h2{
    font-family: 'Fredoka', sans-serif;
    font-size: 32px;
    font-weight: 900;
    color: var(--primary);
    margin: 18px 0;
}

.mid-content p{
    font-family: 'Fredoka', sans-serif;
    margin: 15px 0;
}

.bee-img {
    margin: 0 auto;
    display: block;
    margin-bottom: 68px;
    animation-name: alternate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 0s;
}

@keyframes alternate {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(50%);
    }
}


.top-heading span{
    text-transform: capitalize;
    color: var(--secondary);
    font-size: 24px;
    font-weight: bold;
    font-family: 'Fredoka', sans-serif;
   
}

.top-heading h6{
    text-transform: capitalize;
    font-size: 24px;
    font-weight: bold;
 
    color: var(--primary);
    margin-bottom: 12px;
    font-family: 'Fredoka', sans-serif;
}

.top-heading p{
    font-size: 17px;
    color: #777;
    margin: 12px 0;
    font-family: 'Fredoka', sans-serif;
}

.enroll-n{
    text-decoration: none;
    color: #fff;
    background-color: var(--secondary);
    display: inline-block;
    padding: 12px 22px;
    border-radius: 10px;
    text-transform: capitalize;
    font-weight: bold;
    transition: all .1s ease-in-out;
}

.enroll-n:hover{
    box-shadow: 0 6px var(--secondary);
}


.card {
    transition: all .4s ease-in-out;
}

.card:hover {
    transform: translateY(-20px);
}

.card_img {
    padding: 8px;
    border-radius: 50%;
    border: #fff dashed 2px;
    width: 176px;
    height: 176px;
    margin: 0 auto;
    animation: loading 3s linear infinite;
}

.card_img .card-img-top {
    width: 100%;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
}

.card-body {
    font-family: 'Fredoka', sans-serif;
}

.card-text {
    padding: 0 0 2rem 0;
}


.about_section {
    background-color: #fcf9f4;
}

.about_img{
    width: 320px;
    height: 390px;
}

.about_img {
    margin-bottom: 68px;
    animation-name: alternate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 0s;
}

@keyframes alternate {
    0% {
        transform: translateX(-10%);
    }

    100% {
        transform: translateX(5%);
    }
}

.about_content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about_content h2{
font-family: 'Fredoka', sans-serif;
color: var(--primary);
font-size: 40px;
font-weight: 600;
text-transform: capitalize;
margin: 15px 0;
}

.about_content p{
    font-family: 'Fredoka', sans-serif;
    margin: 15px 0;
    color: #777;
    font-size: 17px;
}

.learn_more {
    background-color: var(--secondary);
    color: white;
    display: inline-block;
    padding: 13px 26px;
    border-radius: 10px;
    font-weight: bold;
    text-decoration: none;
    text-transform: capitalize;
    transition: .4s all ease-in-out;
}

.learn_more:hover {
    background-color: var(--primary);
}

.kids{
    text-align: center;
}



.kids-content h5{
    font-family: 'Schoolbell', cursive;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 3px;
   color: var(--secondary);
   margin-bottom: 10px;
}

.kids-content h2{
    font-family: 'Fredoka', sans-serif;
    font-size: 38px;
    font-weight: 900;
    color: var(--primary);
    margin: 18px 0;
}

.kids-content p{
    font-family: 'Fredoka', sans-serif;
    margin: 15px 0;
    letter-spacing: 2px;
}

.activity-wrapper{
    display: flex;
    flex-direction: column;
}


.activity-content h3{
    font-family: 'Schoolbell' , cursive;
    font-size: 24px;
    color: var(--primary);
    font-weight: bold;
    letter-spacing: 2px;
    
}

.activity-content p{
    font-family:  'Fredoka', sans-serif;
    text-align: left;
    color: #777;
}

.activity-badge{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: dashed 2px var(--green);
    padding: 3px;
}

.program .pro-bg {
    background: url(../imgs/bg-video.webp) no-repeat bottom right;
    background-size: cover;
    padding-bottom: 0 !important;
    width: 750px;
  }
  .program .pro-bg a{
   margin-top:50%;
   padding: 0%;
   transition: all .5s ease;
   width: fit-content;
   height: fit-content;
  }
  .program .pro-bg a:hover{
   margin-top:48%;
  }
  
  .program .content {
    background-color: var(--primary);
    width: 50%;
    height: fit-content;
    color: #fff;
    padding-right: 30px;
    padding-bottom: 30px;
  
  }
  
  .program .content .container .top {
    width: 40%;
    justify-content: space-between;
    padding-top: 20px;
  }
  
  .program .content .container .top h6 {
    color: var(--secondary);
    font-weight: bold;
    letter-spacing: 3px;
    font-family: var(--italic-font);
    margin-right: 10px;
  }
  
  .program .content h1 {
    font-size: 50px;
    font-weight: bold;
  }
  
  
  .program .content p {
    font-size: 20px;
    font-weight: lighter;
  }
  
  
  
  
  
  .accordion-header {
   border-top-right-radius: 20px !important; 
    border-top-left-radius: 20px !important; 
    border-bottom-left-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
  }
  
  .accordion-button{
  padding: 0%;
  overflow: hidden;
  padding-right: 12px;
  }

  .accordion-button>ul>li{
    list-style: none;
  }
  .accordion-button>ul>li>h6{
   font-weight: bolder;
   font-size: 20px
  }
  .accordion-button>ul>li:first-child{
    background-color:#ff2a6a13;
    padding: 16px;
  }
  .accordion-button-2>ul>li:first-child{
    background-color:#ffd1472c;
  }
  .accordion-button-3>ul>li:first-child{
    background-color:#bcdf6424;
  }
  .accordion-button-4>ul>li:first-child{
    background-color:#1abaff22;
  }
  .accordion-button>ul>li img{
    width: 30px;
  }
  .accordion-button>ul>li:nth-child(2){
   margin-top: 22px;
   margin-left: 24px;
  }
  
  
  
  .accordion-item:first-child {
    border-top-right-radius: 20px !important; 
     border-top-left-radius: 20px !important; 
  }
  .accordion-item:last-child {
    border-bottom-left-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
  }
  
  
  .accordion-button:focus {
    background-color:transparent;
  }
  
  .accordion-button:focus {
    z-index: 3;
    border-color:transparent !important;
    border: transparent !important;
    outline: 0;
    box-shadow: var(--bs-accordion-btn-focus-box-shadow);
  }
  
  .accordion-button:not(.collapsed) { 
    font-weight: bold;
    background-color: transparent;
  box-shadow: inset 0 0 0 0 !important  ;
  }
  
  
  .accordion-item:first-of-type .accordion-button {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }
  
  .accordion-item:last-of-type .accordion-button.collapsed {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  
  
  .accordion-button:not(.collapsed)::after {
    background-image: url(../imgs/p-cross.png);
    background-size: 30px;
    width: 30px;
    height: 30px;
  }
  .accordion-button::after {
    background-image: url(../imgs/p-plus.png);
    background-size: 30px;
    width: 30px;
    height: 30px;
  }
  .accordion-button-2:not(.collapsed)::after {
    background-image: url(../imgs/y-cross.png);
  }
  .accordion-button-2::after {
    background-image: url(../imgs/y-plus.png);
  }
  .accordion-button-3:not(.collapsed)::after {
    background-image: url(../imgs/g-cross.png);
  }
  .accordion-button-3::after {
    background-image: url(../imgs/g-plus.png);
  }
  .accordion-button-4:not(.collapsed)::after {
    background-image: url(../imgs/b-cross.png);
  }
  .accordion-button-4::after {
    background-image: url(../imgs/b-plus.png);
  }
  
  
  .about-class{
    text-align: center;
  }
  
  .about-class h3{
    font-family: 'Schoolbell', cursive;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 3px;
   color: var(--secondary);
   margin-bottom: 10px;
}

.about-class h2{
    font-family: 'Fredoka', sans-serif;
    text-transform: capitalize;
    font-size: 32px;
    font-weight: 900;
    color: var(--primary);
    margin: 18px 0;
}

.about-class p{
    font-family: 'Fredoka', sans-serif;
    margin: 15px 0;
}


.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


  .swiper-button-next{
    font-size: 40px;
    right: 0;
 }
 .swiper-button-prev{
    font-size: 40px;
    left: 0;
 }
  


.teachers{
    text-align: center;
}

.about-teachers h5{
    font-family: 'Schoolbell', cursive;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 3px;
   color: var(--secondary);
   margin-bottom: 10px;
}

.about-teachers h2{
    font-family: 'Fredoka', sans-serif;
    text-transform: capitalize;
    font-size: 32px;
    font-weight: 900;
    color: var(--primary);
    margin: 18px 0;
}

.about-teachers p{
    font-family: 'Fredoka', sans-serif;
    margin: 15px 0;
}

.teacher-links{
    list-style-type: none;
}

.teacher-links li{
    border-radius: 50%;
    margin-left: 24px;
}
.teacher-links li a{
    color: #fff;
    display: inline-block;
    padding: 6px 10px;


}



.teacher-links li:first-child{
    background-color: var(--blue);
}

.teacher-links li:nth-child(2){
    background-color: var(--yellow);
}

.teacher-links li:nth-child(3){
    background-color: var(--secondary);
}


.teacher-links li:nth-child(4){
    background-color: var(--green);
}


.card34{
    background-color:#fcf9f4;
    border-radius: 20px;
    padding: 18px;
    text-align: center;
    overflow: hidden;
    border: none;
}

.img{
    width: auto;
}

.card34 img{
    border-radius: 0%;
    border: none;
    box-shadow: none;
    height: auto;
    width: 100%;
    background-color: #fff;
}

.card34 h3{
    margin-top: 14px;
    font-size: 26px;
    font-weight: bold;
    text-transform: capitalize;

}

.card34 p{
    margin-bottom: 22px;
    text-transform: capitalize;
}

.card34{
    transition: all .4s ease-in-out;
}

.card34:hover{
    transform: translateY(-20px);
}


.cover{
    background-color: #fcf9f4;
    position: relative;
}

.cover-head{
    text-align: center;
    text-transform: capitalize;
    font-size: 40px;
    font-weight: bold;
}

.enrollment2{
    background-color: var(--green);
}

.top-heading3 h6{
    text-transform: capitalize;
    color: #fff;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 12px;

}

.top-heading3 p{
    font-size: 19px;
    color: #fff;
    margin: 12px 0;

}

.enroll-c{
    text-decoration: none;
    text-transform: capitalize;
    background-color: #fff;
    display: inline-block;
    padding: 12px 12px;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    transition: all .1s ease-in-out;
}

.enroll-c:hover{
   background-color: var(--secondary);
}



.kndri{
    background-color:var(--primary);
}


.last-social li:hover a{
    transform: translateY('180dg');
}
.last-social li a i{
    color: #fff;
    display: inline-block;
    padding: 6px 6px;

}



.lstprt ul img{
    width: 80%;
    height: 45px;
    display: block;
}



.kindori-inner ul{
    list-style: none;
}

.kindori-inner ul li{
    font-size: 16px;
    padding: 10px 0;
    
}

.kindori-inner ul li a{
    text-decoration: none;
    color: #fff;

    
}

.kindori-inner ul li a i{
    color: var(--yellow);
}

.kindori-inner ul h4{
    color: #fff;
    font-weight: bold;
    font-size: 24px;
}

.activity ul a{
    font-size: 15px;
    display: block;
    padding: 10px 0;
}

.mail h5{
    color: var(--black);
    text-transform: capitalize;
    font-size: 15px;
    display: inline-block;
    border-radius: 10px;
    background-color: #fff;
    padding: 0 15px;
    line-height: 48px;
    width: 100%;
    text-align: start;
    margin-bottom: 10px;
}

.button5 {
    color: #fff;
    display: inline-block;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 16px;
    transition: .4s all ease-in-out;
    font-weight: bold;
    border-radius: 10px;
    background-color: var(--coral);
    padding: 0 15px;
    line-height: 48px;
    width: 100%;
    text-align: center;
}

.button5:hover{
    background-color: #fff;
    color: black;
}

.last-footer{
    background-color: #4054b2;
}

.footer-inner span{
    color: var(--yellow);
}

.footer-inner{
    color: #fff;
    margin-top: 9px;
}

.footer-inner span:hover{
    color:#61ce70;
}





